@use "../../scss/consts" as *;

.form-component-wrapper {
  width: max-content;
  padding: 1rem;

  p {
    margin-bottom: 5px;
    margin-top: 5px;

    &:hover {
      cursor: default !important;
      color: $font-color-primary !important;
    }

    &.task-modal-task-name {
      margin-bottom: 1rem;
    }
  }
  h1 {
    margin-bottom: 0;
  }

  .children {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    div:nth-child(1) > label > p {
      margin-top: 0;
    }
  }

  .submit-button {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }
}
