@use "../../scss/_consts.scss" as *;

.project-page {
  margin: $size-md;
  display: flex;
  flex-direction: column;
  align-items: center;

  .title-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 99;

    h1 {
      margin: 0;
      cursor: pointer;
    }

    p {
      margin-top: 2px;
      cursor: pointer;
    }
  }

  .content {
    display: grid;
    gap: $size-md;
    grid-template-columns: 1fr 300px;
    height: calc(100vh - 175px);
    width: fit-content;

    .title-and-button {
      position: sticky;
      top: -1px;
      background-color: $backgroud-color;
      margin-bottom: $size-md;
      padding-top: $size-sm;
      padding-bottom: $size-sm;
      z-index: 99;
      h2 {
        margin: 0;
        margin-right: $size-md;
      }
      display: flex;
      align-items: center;
    }

    .project-tasks-section {
      .task-cards {
        @include scrollable;
        max-height: calc(100vh - 240px);
      }
      .member-card {
        margin: $size-md;
      }
    }

    .project-members-section {
      .member-cards {
        @include scrollable;
        max-height: calc(100vh - 240px);
      }
      .member-card {
        margin: $size-md;
      }
    }

    @media (max-width: $desktop) {
      @include scrollable;
      grid-template-columns: 1fr;
      .project-members-section {
        margin-bottom: $size-md;
        .member-cards {
          max-height: fit-content;
        }
        grid-row-start: 1;
        grid-row-end: 2;
      }

      .project-tasks-section {
        .task-cards {
          max-height: fit-content;
        }
        grid-row-start: 2;
        grid-row-end: 3;
      }
    }
  }

  .members-list {
    display: flex;

    p {
      width: 300px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .members-title {
    width: inherit;

    p {
      font-weight: bold;
      font-size: 1.5rem;
    }
  }

  @media (max-width: $tablet) {
    .content {
      width: 100%;
    }
  }
}
