@use "../../scss//consts" as *;

.Toastify {
  button {
    box-shadow: none;
  }
}
.Toastify__toast {
  color: $font-color-primary;

  &.Toastify__toast--error {
    color: $font-color-tertiary;
    background: $delete-color;
  }
}
.Toastify__progress-bar {
  background: $primary-highlight-color;
}
