.spinner {
  display: none;
  width: inherit;
  height: inherit;
  font-size: inherit;

  &.spin {
    display: block;
    animation: spin 2s linear infinite;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
