@use "../../scss/consts" as *;

.card-component-wrapper {
  z-index: 2;
  padding: 1.5rem;
  display: flex;
  width: calc(40vw);
  margin-bottom: 2rem;
  margin-right: 2rem;
  border: 3px solid $border-color;
  border-radius: 15px;
  justify-content: space-between;
  background-color: $tertiary-color;
  box-shadow: $box-shadow;

  @media (max-width: $tablet) {
    width: 87%;
  }

  h3 {
    margin: 0;
  }

  &:hover {
    cursor: pointer;
    border: 3px solid $primary-highlight-color;
    background-color: $backgroud-color;
  }

  .card-info {
    width: 100%;
    :nth-child(1) {
      font-weight: bold;
    }
    .assigned-members {
      display: flex;
      align-items: center;

      p {
        margin-right: $size-md;
      }
    }
    .card-texts-wrapper {
      display: flex;
      flex-direction: column;

      .description {
        display: flex;
        margin: 0;
      }

      .extra-description {
        display: flex;
      }
    }
  }

  .card-button-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-left: $size-md;
    :nth-child(2) {
      margin-left: $size-md;
      &:hover {
        background-color: $delete-color;
      }
    }

    @media (max-width: $desktop) {
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      :nth-child(2) {
        margin-left: 0;
        margin-top: $size-sm;
      }
    }
  }
}
