@use "../../scss//consts" as *;

.header-component {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: $size-md;
  width: calc(100vw - 264px);

  .left-content {
    h1 {
      margin: 0;
    }
  }

  .right-content {
    display: flex;
    flex-direction: row;
    align-items: center;

    .user-details {
      @include sub-title-font;
    }

    button {
      margin-left: $size-md;

      div {
        &:hover {
          &:after {
            content: "👋";
            font-size: 16px;
            margin-left: $size-sm;
          }
        }
        display: flex;
      }
    }
  }

  @media (max-width: $tablet) {
    width: calc(100vw - 32px);
  }
}
