@use "../../scss//consts" as *;

.nav-icon {
  z-index: 9999;
  position: absolute;
  left: $size-md;
  top: 10px;
  width: $size-lg;

  &:hover {
    cursor: pointer;
  }

  &:after,
  &:before,
  div {
    background-color: $primary-color;
    border-radius: 3px;
    content: "";
    display: block;
    height: 5px;
    margin: 7px 0;
    transition: all 0.2s ease-in-out;
  }

  &.menu-open {
    &:after {
      background-color: $backgroud-color;
      transform: translateY(-12px) rotate(135deg);
    }
    &:before {
      background-color: $backgroud-color;
      transform: translateY(12px) rotate(-135deg);
    }
    div {
      transform: scale(0);
    }
  }
}

.sidebar-component {
  background-color: $primary-color;
  min-width: 200px;
  padding-left: $size-md;
  padding-right: $size-sm;
  height: 100vh;

  @media (max-width: $tablet) {
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translateX(-110vw);
    will-change: transform;
    transition: transform 0.6s;
  }

  h2 {
    margin-top: $size-md;
    color: $backgroud-color;

    @media (max-width: $tablet) {
      margin-top: $size-xlg;
    }
  }

  &.menu-open {
    transform: translateX(0vw);
    will-change: transform;
    transition: transform 0.6s;
  }

  aside {
    display: flex;
    flex-direction: column;
    gap: $size-md;
  }

  .link-blocks {
    margin-top: 0;
  }
}
