@use "../../scss//consts" as *;

.tooltip-component {
  position: relative;
  display: inline-flex;
  flex-direction: row;

  .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: $font-color-tertiary;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: absolute;
    z-index: 9999;

    &.top {
      bottom: 116%;
      left: 50%;
      margin-left: -60px;

      &:after {
        content: "";
        position: absolute;
        z-index: 9999;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: black transparent transparent transparent;
      }
    }

    &.bottom {
      top: 116%;
      left: 50%;
      margin-left: -60px;

      &:after {
        content: " ";
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent black transparent;
      }
    }

    &.left {
      top: -5px;
      right: 105%;

      &:after {
        content: " ";
        position: absolute;
        top: 50%;
        right: 100%;
        margin-top: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent black transparent transparent;
      }
    }

    &.right {
      top: -5px;
      left: 105%;

      &:after {
        content: " ";
        position: absolute;
        top: 50%;
        left: 100%;
        margin-top: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent transparent black;
      }
    }
  }

  &:hover {
    .tooltiptext {
      visibility: visible;
    }
  }

  .right-side-icon {
    position: absolute;
    right: -35px;
    color: $border-color;
    opacity: 0.2;
  }
}
