@use "./scss/consts" as *;

.app {
  width: 100%;
  height: 100%;
  background-color: $backgroud-color;

  .sidebar-position {
    display: flex;

    @media (max-width: $tablet) {
      display: block;
    }
  }

  .pages-position {
    display: flex;
    flex-direction: column;
  }

  //global styles
  *:focus {
    outline: 2px solid $primary-highlight-color;
  }

  h1,
  h2,
  p {
    @include editable-on-click;
  }

  h1 {
    @include title-font;
  }

  h2 {
    @include sub-title-font;
  }

  p {
    @include regular-font;
  }

  button {
    @include button-main;

    > * {
      pointer-events: none;
    }
  }
}
