$primary-color: #1687a7;
$primary-highlight-color: #24a8cc;
$secondary-color: #276678;
$secondary-highlight-color: #317d92;
$tertiary-color: #d3e0ea;
$delete-color: #da3c3c;
$font-color-primary: #09191d;
$font-color-secondary: #276678;
$font-color-tertiary: #ffffff;
$backgroud-color: #ffffff;
$backgroud-faint-color: #ffffff44;
$border-color: #09191d;
$box-shadow: 9px 8px 5px #c3c3c3;
