$primary-color: #1687a7;
$secondary-color: #276678;
$tertiary-color: #d3e0ea;
$font-color-primary: #09191d;
$font-color-secondary: #276678;
$font-color-tertiary: #ffffff;
$backgroud-color: #ffffff;
$border-color: #09191d;
