@use "./colors" as *;

@mixin title-font {
  font-size: 1.8rem;
  font-weight: 800;
  letter-spacing: 3px;
  color: $font-color-secondary;
}

@mixin sub-title-font {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: $font-color-primary;
}

@mixin regular-font {
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: $font-color-primary;
}

@mixin small-regular-font {
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: $font-color-primary;
}

@mixin tiny-regular-font {
  font-size: 0.6rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: $font-color-primary;
}
