@use "./colors" as *;
@use "./fonts" as *;
@use "./sizes" as *;

@mixin border-main {
  border-radius: 10px;
  border: 1px solid $border-color;
}

@mixin button-main {
  display: flex;
  justify-content: center;
  align-items: center;
  @include sub-title-font;
  color: $font-color-primary;
  background-color: $backgroud-color;
  @include border-main();
  padding: 5px 10px;
  max-height: $size-lg;
  cursor: pointer;

  &:hover {
    background-color: $primary-color;
    color: $font-color-tertiary;
  }
}

@mixin scrollable {
  padding-right: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: $tertiary-color;
    border-radius: 1rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary-color;
    border-radius: 20px;
  }
}
